* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerContainer {
  display: grid;
  gap: 1.5rem;
  grid-template-colums: 1fr;
}

.cabecalho {
  width: 100%;
  padding: 0;
  margin: 0;
}

.frontend {
  font-size: 2.5rem;
  font-weight: 100;
  color: #b09291;
  margin-left: 35px;
  margin-top: -5px;
}

.design {
  font-size: 6rem;
  font-weight: 200;
  color: #c8bbb1;
  margin-left: 170px;
  margin-top: -35px;
}

.usability {
  font-size: 30px;
  font-weight: 150;
  color: #cdced2;
  margin-left: 480px;
  margin-top: -20px;
}

.jobsContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: 18% 18% 18% 18% 18%;
  grid-template-rows: 36% 36% 18%;
  grid-template-areas:
    "culture educational food teleimage design"
    "content1 content1 content2 content2 content3";

  padding-block: 1rem;
  width: min(95%, 90rem);
  margin-inline: auto;
}

.culture {
  grid-area: culture;
  background-image: url(../images/culture.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: auto;
  height: 420px;
}

.culture:hover {
  grid-area: culture;
  background-image: url(../images/culture_cor.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: auto;
  height: 420px;
}

.food {
  grid-area: food;
  background-image: url(../images/food.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: auto;
  height: 420px;
}

.food:hover {
  grid-area: food;
  background-image: url(../images/food_cor.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: auto;
  height: 420px;
}

.educational {
  grid-area: educational;
  background-image: url(../images/educational.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: auto;
  height: 420px;
}

.educational:hover {
  grid-area: educational;
  background-image: url(../images/educational_cor.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: auto;
  height: 420px;
}

.teleimage {
  grid-area: teleimage;
  background-image: url(../images/teleimage.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: auto;
  height: 420px;
}

.teleimage:hover {
  grid-area: teleimage;
  background-image: url(../images/teleimage_cor.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: auto;
  height: 420px;
}

.design_graphic {
  grid-area: design;
  background-image: url(../images/design_cor.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: auto;
  height: 420px;
}

.design_graphic:hover {
  grid-area: design;
  background-image: url(../images/design_cor.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: auto;
  height: 420px;
}

.promeeting {
  grid-area: design;
  background-image: url(../images/promeeting.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: auto;
  height: 420px;
}

.promeeting:hover {
  grid-area: design;
  background-image: url(../images/promeeting_cor.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: auto;
  height: 420px;
}

.content1 {
  grid-area: content1;
  background-color: #b09291;
}

.content2 {
  grid-area: content2;
  background-color: #b09291;
}

.content3 {
  grid-area: content3;
  background-color: #b09291;
}

h2 {
  font-size: 35px;
  font-weight: 45;
  color: #b09291;
  margin-left: 1300px;
  margin-bottom: 5px;
}

.image {
  display: inline;
  margin: 60px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.contato {
  font-weight: 500;
  margin-left: 135px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.paginafim {
  width: 100%;
  margin-bottom: 0px;
  margin-top: 15px;
}
